@import "../includes/variables";

@font-face {
    font-family: 'LacrimaMG';
    src: url('/fonts/LacrimaMG-SenzaRegular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$logoMargin: 50px;

html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: LacrimaMG, sans-serif;
    text-transform: uppercase;
}

h1{
    font-weight: normal;
    font-size: 36px;
    margin-bottom: $logoMargin;
    margin-top: 0;
    line-height: 110%;
}

main{
    margin: 100px auto 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    text-align: center;

    @media (max-width: $screen-sm-max) {
        margin-top: $logoMargin;
    }
}

a{
    color: black;

    &:hover{
        color: #999;
    }
}

.intro{
    line-height: 130%;
    font-size: 20px;
    margin-bottom: $logoMargin;
}

.logo{
    margin-bottom: $logoMargin;
    text-align: center;

    img{
        display: inline-block;
        width: 200px;
    }
}