{# @var carousel \Website\Models\Carousel[] #}
{# @var helper \KikCMS\Services\Website\FrontendHelper #}

{% extends '@website/base.twig' %}

{% block templateBody %}
    <div class="content-default">
        <div class="content col-lg-6">
            {{ content|raw }}
        </div>
        {% if video %}
            <div class="videoWrapper col-lg-6">
                <iframe src="{{ video }}?autoplay=1&controls=0" frameborder="0"></iframe>
            </div>
        {% endif %}
    </div>
{% endblock %}