{# @var carousel \Website\Models\Carousel[] #}
{# @var helper \KikCMS\Services\Website\FrontendHelper #}

{% extends '@website/base.twig' %}

{% block templateBody %}

    <div class="projectCategory">
        <div class="container">
            {% for i, homeImage in homeImageList %}
                <a href="{{ mediaFile(homeImage.image_id) }}"
                   class="item col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <img src="{{ mediaFile(homeImage.image_id, 'gallery') }}"/>
                </a>
                {#{% for i, image in project.projectImages %}#}
                    {#{% if i > 0 %}#}
                        {#<a href="{{ mediaFile(image.image_id) }}" class="hidden" title="{{ project.name }}"></a>#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {% endfor %}
        </div>
    </div>

{% endblock %}