{# @var carousel \Website\Models\Carousel[] #}
{# @var helper \KikCMS\Services\Website\FrontendHelper #}

{% extends '@website/base.twig' %}

{% block templateBody %}

    <div id="homeCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            {% for i, homeImage in homeImageList %}
                <div class="item{{ i == 0 ? ' active' }}">
                    <div class="slide" style="background-image: url('/finder/file/{{ homeImage.image_id }}');"></div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}